{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{%block content%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body #features-page .subsection1 .flip .icon-color.card .back {
            color: #fff;
        }
        body #features-page .subsection1 .flip {
            perspective: 800px;
            width: 100%;
            min-height: 200px;
            height: 200px;
            position: relative;
            display: block;
            margin: 0 auto;
        }
        body #features-page .subsection1 .flip .card {
            width: 100%;
            height: 100%;
            transition: transform 0.5s;
            transform-style: preserve-3d;
            position: relative;
        }
        body #features-page .subsection1 .flip .card .face {
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
            text-align: center;
            border-radius: 4px;
        }
        body #features-page .subsection1 .flip .card .front {
            background: #f9f9f9;
            z-index: 2;
        }
        body #features-page .subsection1 .flip .card .back {
            background: #333;
            color: #fff;
            transform: rotateY(180deg);
        }
        body #features-page .subsection1 .flip:hover .card {
            transform: rotateY(180deg);
        }
    </style>
</head>
<body >
    <!-- Our Skills -->
    
        <div class="col-md-12 text-center" style="padding-top: 80px;">
            <h2 class="title-section"><span class="title-regular">{% translate "Get To" %}</span><br/>{% translate "Know Me" %}</h2>
            <hr class="title-underline mx-auto" />
        </div> 
    


<!-- Full Width Container  -->
<section class="page-section py-0">
    <div class="container">
        <div class="row">
            <!-- Content -->
            <div class="col-12">
                <h2>Who am I?</h2>
                <h3>Hello World! I'm Jaime</h3>
                <br>
                <div class="row">
                    <div class="col-md-8">
                        <p class="lead">
                            {% blocktranslate %} I am a 36-year-old professional living in Santiago, Chile. With a background in Civil Industrial Engineering and a postgraduate degree in the same field, I have a passion for continuous learning and personal growth. My dedication to excellence is evident in my academic and professional achievements.{% endblocktranslate %}
                        </p>
                        <p>
                            {% blocktranslate %} My journey in the professional world has been enriched by my love for programming. I specialize in Python and PostgreSQL, constantly seeking to expand my skills and knowledge. My interest in technology drives me to explore new areas such as Machine Learning, which I believe will be pivotal in the future of many industries.{% endblocktranslate %}
                        </p>
                        <p>
                            {% blocktranslate %} I am proficient in English at a B2 level, which has opened numerous opportunities for both personal and professional growth. I aspire to further improve my language skills and use them to connect with a global audience. Communication is a crucial aspect of my work, and being able to express myself in multiple languages enhances my ability to collaborate internationally.{% endblocktranslate %}
                        </p>
                        <p>
                            {% blocktranslate %} One of my greatest passions is playing the guitar. Music provides me with a creative outlet and a way to relax and unwind. It’s a joy that complements my analytical and technical pursuits, offering a balance between creativity and logic that I find deeply fulfilling.{% endblocktranslate %}
                        </p>
                        <p>
                            {% blocktranslate %} Traveling is another aspiration of mine. I am eager to explore new cultures, meet diverse people, and gain experiences that broaden my perspective. Each journey is an opportunity to learn and grow, enriching my understanding of the world and enhancing my personal and professional life.{% endblocktranslate %}
                        </p>
                        <p>
                            {% blocktranslate %} I also have a profound love for nature and enjoy hiking. The tranquility and beauty of natural landscapes provide a perfect escape from the hustle and bustle of everyday life. Hiking not only keeps me physically active but also allows me to reconnect with nature and find inspiration in its simplicity and grandeur.{% endblocktranslate %}
                        </p>
                        <p>
                            {% blocktranslate %} I consider myself a happy and motivated individual. My enthusiasm for life is driven by a desire to keep learning and achieving. I am always looking for ways to enhance my skills and contribute meaningfully to any project I am involved in. My positive outlook and determination are key drivers in my pursuit of excellence.{% endblocktranslate %}
                        </p>
                        <blockquote class="blockquote">&ldquo;{% translate "Continuous learning and self-improvement are the keys to personal and professional success. I strive to embody these principles in everything I do." %}&rdquo;</blockquote>
                        <p>
                            {% blocktranslate %} My professional journey is marked by a commitment to excellence and a passion for innovation. As an Industrial Engineer with a deep interest in programming and technology, I aim to leverage my skills to make a significant impact in my field. I believe that through hard work, dedication, and a willingness to embrace new challenges, I can achieve my goals and make a positive difference in the world. {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid" src="{% static 'img/My_photo.jpg' %}" alt="Imagen">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








<!-- Portfolio Section -->


    <!-- Full Width Container  -->
    <body>
        <!-- Full Width Container  -->
        <section id="features-page">
            <div class="subsection1 py-5">
                <div class="container">
                    <div class="section-heading text-center">
                        <h1>{% translate "What Are " %}<span>{% translate "My Interest?" %}</span></h1>
                        <p class="subheading">{% translate "My areas of interest in depth that I wish to expand and develop professionally." %}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="flip">
                                <div class="card">
                                    <div class="face front card-body d-flex justify-content-center align-items-center">
                                        <i class="fa fa-laptop boxicon me-2"></i>
                                        <h3>{% translate "Programming & Software Development" %}</h3>
                                    </div>
                                    <div class="face back card-body">
                                        <h3 style="color: #ff561e !important">Programming & Software Development</h3>
                                        <p>{% translate "I have a passion for programming, especially in Python because of its potential uses, such as web development with Django, solving complex problems, and creating efficient, scalable applications." %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="flip">
                                <div class="card">
                                    <div class="face front card-body d-flex justify-content-center align-items-center">
                                        <i class="fa fa-bullhorn boxicon me-2"></i>
                                        <h3>{% translate "Engineering & Data Science" %}</h3>
                                    </div>
                                    <div class="face back card-body">
                                        <h3 style="color: #ff561e !important">Engineering & Data Science</h3>
                                        <p>{% translate "With a background in Industrial Engineering, I am keen on applying engineering principles to data science. I love analyzing data and extracting meaningful insights to drive decision-making." %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="flip">
                                <div class="card">
                                    <div class="face front card-body d-flex justify-content-center align-items-center">
                                        <i class="fa fa-support boxicon me-2"></i>
                                        <h3>{% translate "Machine Learning" %}</h3>
                                    </div>
                                    <div class="face back card-body">
                                        <h3 style="color: #ff561e !important">Machine Learning</h3>
                                        <p>{% translate "I am fascinated by Machine Learning and its potential to solve real-world problems. Currently, I am studying different algorithms and their implementation in Python." %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="flip">
                                <div class="card">
                                    <div class="face front card-body d-flex justify-content-center align-items-center">
                                        <i class="fa fa-laptop boxicon me-2"></i>
                                        <h3>{% translate "Artificial Intelligence" %}</h3>
                                    </div>
                                    <div class="face back card-body">
                                        <h3 style="color: #ff561e !important">Artificial Intelligence</h3>
                                        <p>{% translate "The field of Artificial Intelligence intrigues me, and I am eager to explore its various applications. I am particularly interested in how AI can enhance productivity and innovation." %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="flip">
                                <div class="card">
                                    <div class="face front card-body d-flex justify-content-center align-items-center">
                                        <i class="fa fa-bullhorn boxicon me-2"></i>
                                        <h3>{% translate "Process Automation" %}</h3>
                                    </div>
                                    <div class="face back card-body">
                                        <h3 style="color: #ff561e !important">Process Automation</h3>
                                        <p>{% translate "I believe in the power of process automation to improve efficiency and reduce human error. I am constantly looking for ways to automate repetitive tasks and streamline workflows." %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="flip">
                                <div class="card">
                                    <div class="face front card-body d-flex justify-content-center align-items-center">
                                        <i class="fa fa-support boxicon me-2"></i>
                                        <h3>{% translate "English Language" %}</h3>
                                    </div>
                                    <div class="face back card-body">
                                        <h3 style="color: #ff561e !important">English Language</h3>
                                        <p>{% translate "I am dedicated to improving my English language skills. Being proficient in English helps me access a wider range of resources and communicate effectively in a global context."  %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>



<!-- Contact Section -->
<section class="container py-5" id="what_am_I_currently_studying">
    <div class="section-heading text-center">
  <h1>{% translate "What are my goals?" %}</h1>
</div>
  <div class="row justify-content-around">
      <div class="col-10">
          <div class="card">
              <div class="card-body">
                <br>
                  <h5 class="card-title">{% translate "3 Professional Goals" %}</h5>
                  <br>
                  <p class="card-text"><i class="fa fa-check"></i>{% translate " Learning and using Machine Learning and Artificial Intelligence is one of my main objectives. I strive to master these emerging technologies to develop solutions that transform and improve people's quality of life." %}</p>
                  <p class="card-text"><i class="fa fa-check"></i>{% translate " Mastering the English language to collaborate effectively on a global level. I constantly work on improving my language skills to communicate and work alongside professionals from all over the world." %}</p>
                  <p class="card-text"><i class="fa fa-check"></i>{% translate " Knowing and working with teams of people from different places, cultures, and backgrounds is essential to enrich my experiences and skills. I value diversity and always seek to collaborate in an inclusive environment." %}</p>
              </div>
          </div>
      </div>
  </div>
</section>


<!-- Footer -->

<!-- </footer> -->

<!-- Bootstrap script link -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>


    {%endblock%}
