{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{%block content%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body #features-page .subsection1 .flip .icon-color.card .back {
            color: #fff;
        }
        body #features-page .subsection1 .flip {
            perspective: 800px;
            width: 100%;
            min-height: 200px;
            height: 200px;
            position: relative;
            display: block;
            margin: 0 auto;
        }
        body #features-page .subsection1 .flip .card {
            width: 100%;
            height: 100%;
            transition: transform 0.5s;
            transform-style: preserve-3d;
            position: relative;
        }
        body #features-page .subsection1 .flip .card .face {
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
            text-align: center;
            border-radius: 4px;
        }
        body #features-page .subsection1 .flip .card .front {
            background: #f9f9f9;
            z-index: 2;
        }
        body #features-page .subsection1 .flip .card .back {
            background: #333;
            color: #fff;
            transform: rotateY(180deg);
        }
        body #features-page .subsection1 .flip:hover .card {
            transform: rotateY(180deg);
        }
    </style>
</head>
<body >
    <!-- Our Skills -->
    
        <div class="col-md-12 text-center" style="padding-top: 80px;">
            <h2 class="title-section"><span class="title-regular">Get To</span><br/>Know Me</h2>
            <hr class="title-underline mx-auto" />
        </div> 
    


<!-- Full Width Container  -->
<section class="page-section py-0">
    <div class="container">
        <div class="row">
            <!-- Content -->
            <div class="col-12">
                <h2>Who am I?</h2>
                <h3>Hello World! I'm Jaime</h3>
                <br>
                <div class="row">
                    <div class="col-md-8">
                        <p class="lead">
                            I am a 36-year-old professional living in Santiago, Chile. With a background in Civil Industrial Engineering and a postgraduate degree in the same field, I have a passion for continuous learning and personal growth. My dedication to excellence is evident in my academic and professional achievements.
                        </p>
                        <p>
                            My journey in the professional world has been enriched by my love for programming. I specialize in Python and PostgreSQL, constantly seeking to expand my skills and knowledge. My interest in technology drives me to explore new areas such as Machine Learning, which I believe will be pivotal in the future of many industries.
                        </p>
                        <p>
                            I am proficient in English at a B2 level, which has opened numerous opportunities for both personal and professional growth. I aspire to further improve my language skills and use them to connect with a global audience. Communication is a crucial aspect of my work, and being able to express myself in multiple languages enhances my ability to collaborate internationally.
                        </p>
                        <p>
                            One of my greatest passions is playing the guitar. Music provides me with a creative outlet and a way to relax and unwind. It’s a joy that complements my analytical and technical pursuits, offering a balance between creativity and logic that I find deeply fulfilling.
                        </p>
                        <p>
                            Traveling is another aspiration of mine. I am eager to explore new cultures, meet diverse people, and gain experiences that broaden my perspective. Each journey is an opportunity to learn and grow, enriching my understanding of the world and enhancing my personal and professional life.
                        </p>
                        <p>
                            I also have a profound love for nature and enjoy hiking. The tranquility and beauty of natural landscapes provide a perfect escape from the hustle and bustle of everyday life. Hiking not only keeps me physically active but also allows me to reconnect with nature and find inspiration in its simplicity and grandeur.
                        </p>
                        <p>
                            I consider myself a happy and motivated individual. My enthusiasm for life is driven by a desire to keep learning and achieving. I am always looking for ways to enhance my skills and contribute meaningfully to any project I am involved in. My positive outlook and determination are key drivers in my pursuit of excellence.
                        </p>
                        <blockquote class="blockquote">&ldquo;Continuous learning and self-improvement are the keys to personal and professional success. I strive to embody these principles in everything I do.&rdquo;</blockquote>
                        <p>
                            My professional journey is marked by a commitment to excellence and a passion for innovation. As an Industrial Engineer with a deep interest in programming and technology, I aim to leverage my skills to make a significant impact in my field. I believe that through hard work, dedication, and a willingness to embrace new challenges, I can achieve my goals and make a positive difference in the world.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid" src="{% static 'img/My_photo.jpg' %}" alt="Imagen">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








<!-- Portfolio Section -->


    <!-- Full Width Container  -->
    <body>
        <!-- Full Width Container  -->
        <section id="features-page">
            <div class="subsection1 py-5">
                <div class="container">
                    <div class="section-heading text-center">
                        <h1>What Are <span>My Interest?</span></h1>
                        <p class="subheading">Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="flip">
                                <div class="card">
                                    <div class="face front card-body d-flex justify-content-center align-items-center">
                                        <i class="fa fa-laptop boxicon me-2"></i>
                                        <h3>Programming & Software Development</h3>
                                    </div>
                                    <div class="face back card-body">
                                        <h3 style="color: #ff561e !important">Programming & Software Development</h3>
                                        <p>"I have a passion for programming, especially in Python because of its potential uses, such as web development with Django, solving complex problems, and creating efficient, scalable applications."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="flip">
                                <div class="card">
                                    <div class="face front card-body d-flex justify-content-center align-items-center">
                                        <i class="fa fa-bullhorn boxicon me-2"></i>
                                        <h3>Engineering & Data Science</h3>
                                    </div>
                                    <div class="face back card-body">
                                        <h3 style="color: #ff561e !important">Engineering & Data Science</h3>
                                        <p>"With a background in Industrial Engineering, I am keen on applying engineering principles to data science. I love analyzing data and extracting meaningful insights to drive decision-making."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="flip">
                                <div class="card">
                                    <div class="face front card-body d-flex justify-content-center align-items-center">
                                        <i class="fa fa-support boxicon me-2"></i>
                                        <h3>Machine Learning</h3>
                                    </div>
                                    <div class="face back card-body">
                                        <h3 style="color: #ff561e !important">Machine Learning</h3>
                                        <p>"I am fascinated by Machine Learning and its potential to solve real-world problems. Currently, I am studying different algorithms and their implementation in Python."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="flip">
                                <div class="card">
                                    <div class="face front card-body d-flex justify-content-center align-items-center">
                                        <i class="fa fa-laptop boxicon me-2"></i>
                                        <h3>Artificial Intelligence</h3>
                                    </div>
                                    <div class="face back card-body">
                                        <h3 style="color: #ff561e !important">Artificial Intelligence</h3>
                                        <p>"The field of Artificial Intelligence intrigues me, and I am eager to explore its various applications. I am particularly interested in how AI can enhance productivity and innovation."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="flip">
                                <div class="card">
                                    <div class="face front card-body d-flex justify-content-center align-items-center">
                                        <i class="fa fa-bullhorn boxicon me-2"></i>
                                        <h3>Process Automation</h3>
                                    </div>
                                    <div class="face back card-body">
                                        <h3 style="color: #ff561e !important">Process Automation</h3>
                                        <p>"I believe in the power of process automation to improve efficiency and reduce human error. I am constantly looking for ways to automate repetitive tasks and streamline workflows."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="flip">
                                <div class="card">
                                    <div class="face front card-body d-flex justify-content-center align-items-center">
                                        <i class="fa fa-support boxicon me-2"></i>
                                        <h3>English Language</h3>
                                    </div>
                                    <div class="face back card-body">
                                        <h3 style="color: #ff561e !important">English Language</h3>
                                        <p>"I am dedicated to improving my English language skills. Being proficient in English helps me access a wider range of resources and communicate effectively in a global context." </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>

    <!-- Our Skills -->
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="title-section"><span class="title-regular">My</span><br/>SKILLS</h2>
                <hr class="title-underline mx-auto" />
            </div>
            <div class="col-md-4 offset-md-4 text-center">
                <p> Maecenas luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.</p>
            </div>
            <div class="col-md-6">
                <p class="margin-0">HTML5</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                        75%
                    </div>
                </div>
                <p class="margin-0">CSS3</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width:82%">
                        82%
                    </div>
                </div>
                <p class="margin-0">PHP</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                        65%
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="margin-0">jQuery</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        50%
                    </div>
                </div>
                <p class="margin-0">JavaScript</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width:32%">
                        32%
                    </div>
                </div>
                <p class="margin-0">MySQL</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100" style="width:47%">
                        47%
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <!-- FAQs Start -->
    <div class="container-fluid py-2">
        <div class="container py-5">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="mb-4">What are my Interest?</h1>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="accordion" id="accordionFAQ1">
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.1s">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    How to build a website?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionFAQ1">
                                <div class="accordion-body">
                                    Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.2s">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How long will it take to get a new website?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionFAQ1">
                                <div class="accordion-body">
                                    Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.3s">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Do you only create HTML websites?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionFAQ1">
                                <div class="accordion-body">
                                    Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.4s">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    Will my website be mobile-friendly?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionFAQ1">
                                <div class="accordion-body">
                                    Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="accordion" id="accordionFAQ2">
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.5s">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Will you maintain my site for me?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionFAQ2">
                                <div class="accordion-body">
                                    Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.6s">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    I’m on a strict budget. Do you have any low cost options?
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                data-bs-parent="#accordionFAQ2">
                                <div class="accordion-body">
                                    Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.7s">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Will you maintain my site for me?
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                data-bs-parent="#accordionFAQ2">
                                <div class="accordion-body">
                                    Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.8s">
                            <h2 class="accordion-header" id="headingEight">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    I’m on a strict budget. Do you have any low cost options?
                                </button>
                            </h2>
                            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                                data-bs-parent="#accordionFAQ2">
                                <div class="accordion-body">
                                    Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQs Start -->


<!-- About Section -->
<section class="container py-5" id="what_do_I_want_to_learn">
  <h1> What do I want to learn? </h1>
  <div class="row justify-content-around">
      <div class="col-5">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Título de la tarjeta</h5>
                  <p class="card-text">Aquí va el texto de tu tarjeta.</p>
              </div>
          </div>
      </div>
      <div class="col-5">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Título de la tarjeta</h5>
                  <p class="card-text">Aquí va el texto de tu tarjeta.</p>
              </div>
          </div>
      </div>
      
  </div>
  
</section>


<!-- Curriculum Vitae Section -->
<section class="container py-5" id="what_do_I_know_now">
  <h1> What do I know now? </h1>
  <div class="row justify-content-around">
      <div class="col-3">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Título de la tarjeta</h5>
                  <p class="card-text">Aquí va el texto de tu tarjeta.</p>
              </div>
          </div>
      </div>
      <div class="col-3">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Título de la tarjeta</h5>
                  <p class="card-text">Aquí va el texto de tu tarjeta.</p>
              </div>
          </div>
      </div>
      <div class="col-3">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Título de la tarjeta</h5>
                  <p class="card-text">Aquí va el texto de tu tarjeta.</p>
              </div>
          </div>
      </div>
      
  </div>
</section>

<!-- Contact Section -->
<section class="container py-5" id="what_am_I_currently_studying">
  <h1>What am I currently studying? </h1>
  <div class="row justify-content-around">
      <div class="col-10">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Título de la tarjeta</h5>
                  <p class="card-text">Aquí va el texto de tu tarjeta.</p>
              </div>
          </div>
      </div>
  </div>
</section>


<!-- Footer -->

<!-- </footer> -->

<!-- Bootstrap script link -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>


    {%endblock%}
