{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{%block content%}



    <title> TITULO {% block title %} {% endblock %}</title>


      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
        <style>

            .filter-section {
                margin-top: 20px;
            }
            .filter-container ul {
                padding: 0;
                list-style: none;
            }
            .filter-container li {
                display: inline-block;
                margin-right: 10px;
                white-space: nowrap;
                text-align: center;
            }
            .filter-container li a {
                display: block;
                padding: 5px 10px;
                font-size: 14px;
                color: #000;
                text-decoration: none;
                border: 1px solid transparent;
                transition: all 0.3s;
            }
            .filter-container li span {
                display: none;
            }
            @media (max-width: 768px) {
                .filter-container li {
                    width: 100%;
                }
                .filter-container li span {
                    display: inline;
                }
            }
            @media (max-width: 480px) {
                .filter-container li {
                    white-space: normal;
                }
            }
        </style>
    </head>
<!-- header-slider-area start -->
<!-- header-slider-area start -->
<section class="header-slider-area">
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
  
      
               
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="single-slide-item slide-1">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="single-slide-item-content">
                    <h2 style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);">{% translate "Bienvenido" %}<br> {{ request.user.first_name }} {{ request.user.last_name }}</h2>
                    <p>
                      {% blocktranslate %}Fostering Innovation in Technology and Unlocking Potential Through Teamwork are some of my main life goals.{% endblocktranslate %}
                    </p>
                    
                  </div><!-- /.single-slide-item-content-->
                </div><!-- /.col-->
              </div><!-- /.row-->
            </div><!-- /.container-->
          </div><!-- /.single-slide-item-->
        </div><!-- /.item .active-->
  

  
  </section><!-- /.header-slider-area-->

  <!-- Intro -->
<section class="page-section" id="intro">
    <div class="container intro">
        <div class="row margin-bottom-50">
            <div class="col-md-12 text-center">
                <h1 class="title-section"><span class="title-regular">{% translate "Hello, I'm " %}<strong>Jaime Campillay</strong></span><br/>{% translate "Passionate about technology, programming, and machine learning" %}</h1>
                <hr class="title-underline-center mx-auto">
                <p class="lead">{% translate "Exploring innovative solutions at the intersection of code, data, and in pro of improving people's quality of life." %}</p>
            </div>
        </div>
    </div>
    

    </div>

            <div class="container" style="margin-top: 50px;">
                <div class="service-details">
                    <div class="section-header text-center">
                        <div class="container">
                            <div class="filter-section">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <h1>{% translate "Technical Knowledge and Skills" %}</h1>
                                    </div>
                                </div>
                            </div>
                    
                        
                    </div><!--/.section-header-->
                    <div class="service-content-one">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="service-single text-center">
                                    <div class="service-img">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" />
                                    </div><!--/.service-img-->
                                    <div class="service-txt">
                                        <h2>
                                            <a href="#">Python</a>
                                        </h2>
                                        <p>
                                            {% blocktranslate %} Python, my main tool for bringing projects to life, from interactive web applications to machine learning models that turn data into insights. {% endblocktranslate %}
                                        </p>
                                        <a href="#" class="service-btn">
                                            {% translate "learn more" %}
                                        </a>
                                    </div><!--/.service-txt-->
                                </div><!--/.service-single-->
                            </div><!--/.col-->
                            <div class="col-sm-4 col-xs-12">
                                <div class="service-single text-center">
                                    <div class="service-img">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg" />
                                    </div><!--/.service-img-->
                                    <div class="service-txt">
                                        <h2>
                                            <a href="#">PostgreSQL</a>
                                        </h2>
                                        <p>
                                            {% blocktranslate %} My preferred choice for storing structured data, it's highly secure, open-source, and fits projects of any size or scale {% endblocktranslate %}
                                        </p>
                                        <a href="#" class="service-btn">
                                            {% translate "learn more" %}
                                        </a>
                                    </div><!--/.service-txt-->
                                </div><!--/.service-single-->
                            </div><!--/.col-->
                            <div class="col-sm-4 col-xs-12">
                                <div class="service-single text-center">
                                    <div class="service-img">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain-wordmark.svg" />
                                    </div><!--/.service-img-->
                                    <div class="service-txt">
                                        <h2>
                                            <a href="#">Django Framework</a>
                                        </h2>
                                        <p>
                                            {% blocktranslate %} Django, the agile web framework preferred for its robustness, security, power, flexibility, and efficiency in fully scalable applications and websites. {% endblocktranslate %}
                                        </p>
                                        <a href="#" class="service-btn">
                                            {% translate "learn more" %}
                                        </a>
                                    </div><!--/.service-txt-->
                                </div><!--/.service-single-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                    </div><!--/.service-content-one-->
                    <div class="service-content-two">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="service-single text-center">
                                    <div class="service-img">
                                    
                                        
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pandas/pandas-original-wordmark.svg" />
                                    </div><!--/.service-img-->
                                    <div class="service-txt">
                                        <h2>
                                            <a href="#">{% translate "Pandas" %}</a>
                                        </h2>
                                        <p>
                                            {% blocktranslate %} Pandas, the indispensable library for any data science project, known for its power and flexibility in the manipulation and exploration of tabular data. {% endblocktranslate %}
                                        </p>
                                        <a href="#" class="service-btn">
                                            {% translate "learn more" %}
                                        </a>
                                    </div><!--/.service-txt-->
                                </div><!--/.service-single-->
                            </div><!--/.col-->

                            <div class="col-sm-4 col-xs-12">
                                <div class="service-single text-center">
                                    <div class="service-img">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/archlinux/archlinux-original.svg" />
                                    </div><!--/.service-img-->
                                    <div class="service-txt">
                                        <h2>
                                            <a href="#">{% translate "Arch Linux" %}</a>
                                        </h2>
                                        <p>
                                            {% blocktranslate %} Arch Linux intrigued me with its "do-it-yourself" approach and the possibility of building a tailor-made operating system, from installation to fine-tuning configuration. {% endblocktranslate %}
                                        </p>
                                        <a href="#" class="service-btn">
                                            {% translate "learn more" %}
                                        </a>
                                    </div><!--/.service-txt-->
                                </div><!--/.service-single-->
                            </div><!--/.col-->
                            <div class="col-sm-4 col-xs-12">
                                <div class="service-single text-center">
                                    <div class="service-img">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" />
                                    </div><!--/.service-img-->
                                    <div class="service-txt">
                                        <h2>
                                            <a href="#">{% translate "Git" %}</a>
                                        </h2>
                                        <p>
                                            {% blocktranslate %} Opting for Git as my version control system was an obvious choice due to its industry leadership and effective management of the development workflow. {% endblocktranslate %}
                                        </p>
                                        <a href="#" class="service-btn">
                                            {% translate "learn more" %}
                                        </a>
                                    </div><!--/.service-txt-->
                                </div><!--/.service-single-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                    </div><!--/.service-content-two-->

                </div><!--/.service-details-->
            </div><!--/.container-->
            <div class="text-center" style="margin-top: 70px;">
                <a href="{% url 'knowledge_skills' %}"><button type="button" class="btn" style="background: #ff561e; color:white"><strong>{% translate "VIEW MORE" %}</strong><i class="fa fa-arrow-right"></i></button></a>
            </div>

    </section><!--/.service-->
    <!--service end-->



<!-- Portfolio / Projects -->
<section class="page-section-no-padding">
    
    <!-- /3 Column Portfolio -->
    
    <div class="container">
    <div class="filter-section">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h1>{% translate "Projects Portfolio" %}</h1>
                <div class="filter-container isotopeFilters">
                    <ul class="list-inline filter d-flex justify-content-center align-items-center flex-wrap">
                        <li class="active"><a href="#" data-filter="*">{% translate "All" %}</a></li>
                        <li><a href="#" data-filter=".Process_Automation">{% translate "Process Automation" %}</a></li>
                        <li><a href="#" data-filter=".Engineering">{% translate "Engineering" %}</a></li>
                        <li><a href="#" data-filter=".websites">{% translate "Websites" %}</a></li>
                        <li><a href="#" data-filter=".software_development">{% translate "Software Development" %}</a></li>
                        <li><a href="#" data-filter=".machine_learning">{% translate "Machine Learning" %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-section port-col d-flex flex-wrap justify-content-center">                
            <div class="col-md-4 col-sm-6 isotopeSelector Engineering software_development websites">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-9.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">                            
                            <div class="row margin-0 project-content">
                                <div class="col-md-12 info-head text-center">
                                    <h3>{% translate "Portfolio Website" %}</h3>
                                </div>
                                <div class="col-md-12 info">
                                    <p>Python, Django, Dash Plotly, JavaScript, HTML5, CSS3, Bootstrap 5, jQuery, PostgreSQL, AWS EC2, AWS S3, AWS DRS, Git, Json, Vim, Linux</p>
                                    <a title="Project Link" href="{% url 'projects_describe' id=9 %}">
                                        <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Engineering">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-4.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>{% translate "Cloud Strategy" %}</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>Python, Power Point, Excel, PDF</p>
                                        <p>

                                            <a title="Project Link" href="{% url 'projects_describe' id=8 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Engineering software_development websites">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-5.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>{% translate "Financial Tool International Bank" %}</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>Python, PostgreSQL, Dash & Plotly, Pandas, Scipy</p>
                                        <p>
                                            <a title="Project Link" href="{% url 'projects_describe' id=7 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Engineering software_development">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-3.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>ETL SQL BICE & FACTSET</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>SQL Server, Talend, Python, Excel, Factset Cloud, Putty</p>
                                        <p>
                                            <a title="Project Link" href="{% url 'projects_describe' id=6 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Process_Automation software_development">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-2.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>{% translate "Automatización Hipotecario Garantía" %}</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>UiPath Reframework, SQL, .Net, Git, Jira Browser Edge, PDF Json File</p>
                                        <p>
                                            <a title="Project Link" href="{% url 'projects_describe' id=5 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Process_Automation software_development">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-6.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>{% translate "Automatización Linea Seguro" %}</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>UiPath Reframework, Postman, Servicios API, Python, .Net, Git, Jira, Json File</p>
                                        <p>
                                            <a title="Project Link" href="{% url 'projects_describe' id=4 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>


        </div>
                <!-- END Columns Portfolio -->
    <div class="text-center" style="margin-top: 25px;">
        <a href="{% url 'professional_project_home' %}"><button type="button" class="btn" style="background: #ff561e; color:white"><strong>{% translate "VIEW MORE" %} </strong><i class="fa fa-arrow-right"></i></button></a>
    </div>
        
    </div>

</section>



<div style="height: 40px;"></div>
<section id="about">
    <div class="container">
        <div class="row" style="padding-top: 40px; padding-bottom: 40px; position: relative;">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align" style="padding-bottom: 20px;">
                <div class="section-heading">
                    <h1>{% translate "About Me" %}</h1>
                    <p class="subheading"><strong>“{% translate "Continuous learning and self-improvement are the keys to personal and professional success. I strive to embody these principles in everything I do." %}</strong></p>
                </div>
                <ul class="aboutul" style="padding-bottom: 20px;">
                    <li> <i class="fa fa-check"></i>{% translate " I am a professional living in Santiago, Chile, with a background in Civil Industrial Engineering and a postgraduate degree in the same field." %}</li>
                    <br>
                    <li> <i class="fa fa-check"></i>{% translate " I have a passion for continuous learning and personal growth, demonstrated through my academic and professional achievements." %}</li>
                    <br>
                    <li> <i class="fa fa-check"></i>{% translate " My professional journey is driven by my love for programming, particularly in Python and PostgreSQL, as I constantly seek to expand my skills and knowledge." %}</li>
                    <br>
                    <li> <i class="fa fa-check"></i>{% translate " I am enthusiastic about exploring new technologies such as Machine Learning and Artificial Intelligence, which I believe will play a crucial role in the future of various industries." %}</li>
                    <br>
                    <li> <i class="fa fa-check"></i>{% translate " I am proficient in English at a B2 level, enabling me to access a wide range of resources and communicate effectively on a global scale." %}</li>
                    <br>
                    <li> <i class="fa fa-check"></i>{% translate " One of my greatest passions is playing the guitar, providing a creative outlet that balances my analytical and technical pursuits." %}</li>
                    <br>
                    <li> <i class="fa fa-check"></i>{% translate " I have a profound love for nature and enjoy hiking, which offers a perfect escape from the daily hustle and bustle, keeping me physically active and inspired." %}</li>
                    <br>
                    <li> <i class="fa fa-check"></i>{% translate " I consider myself a happy and motivated individual, driven by a desire to keep learning and achieving, always looking for ways to enhance my skills and contribute meaningfully to projects." %}</li>
                </ul>
                <a href="{% url 'about_me' %}"><button type="button" class="btn" style="background: #ff561e; color:white"><strong>{% translate "VIEW MORE" %} </strong><i class="fa fa-arrow-right"></i></button></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5" style="position: absolute; top: 100px; right: 0;">
                <img height="" width="auto" src="{% static 'img/me_home_valpo.jpg' %}" class="attachment-full img-responsive" alt="">
            </div>
        </div>
    </div>
</section>




    		<!--about-history start-->
		<div class="about-history">
			<div class="container">
				<div class="about-history-content">

                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <div class="single-about-history">
                                <div class="about-history-img">
                                    <img src="{% static 'images/banner/santiago.jpg' %}" alt="about" class="img-fluid">
                                </div><!--/.about-history-img-->
                            </div><!--/.single-about-history-->
                        </div><!--/.col-->
                    
                        <div class="offset-md-1 col-md-6 col-sm-12">
                            <section class="main-block">
                                <h2>
                                  <i class="fa fa-suitcase"></i>{% translate "Experiencia Laboral" %}
                                </h2>
                                <section class="blocks">
                                  <div class="date">
                                    <strong><span>2023</span> - <span>2024</span></strong>
                                  </div>
                                  <div class="decorator">
                                  </div>
                                  <div class="details">
                                    <header>
                                      <h3>Data Engineer</h3>
                                      <span class="place"><strong>EY Chile - Latino América</strong></span>
                                      <span class="location"><strong>(remoto/presencial) - Santiago, Chile</strong></span>
                                    </header>
                                    <div>
                                      <ul>
                                        <li>{% blocktranslate %}Como Ingeniero de Datos aporte con los diseños, construcción y mantención de infraestructura de datos, asegurando su organización y accesibilidad. Me encargé de la extracción, transformación y carga (ETL) de datos, integrando diversas fuentes y garantizando su calidad y la optimización de consultas a bases de datos para mejorar el rendimiento. Además colaboré con el desarrollo y gestión de pipelines de datos para facilitar el flujo continuo de información.{% endblocktranslate %}</li>
                                      </ul>
                                      </div>
                                  </div>
                                </section>
                                <br>
                                <section class="blocks">
                                    <div class="date">
                                      <strong><span>2021</span> - <span>2022</span></strong>
                                    </div>
                                    <div class="decorator">
                                    </div>
                                    <div class="details">
                                      <header>
                                        <h3>RPA Developer</h3>
                                        <span class="place"><strong>EY Chile - Latino América</strong></span>
                                        <span class="location"><strong>(remoto/presencial) - Santiago, Chile</strong></span>
                                      </header>
                                      <div>
                                        <ul>
                                          <li>{% blocktranslate %}Evaluar, diseñar, proponer y crear soluciones a trabajos altamente repetitivos, voluminosos, predecibles y no obstante necesarios para el correcto funcionamiento del negocio, mediante la programación RPA. Implementa y gestiona la automatización de procesos utilizando herramientas de Robotic Process Automation (RPA) para mejorar la eficiencia y reducir errores. Desarrolla scripts y bots que automatizan tareas rutinarias, asegurando que los procesos sean ejecutados de manera consistente y precisa. Colabora con equipos de diferentes departamentos para identificar oportunidades de automatización, optimizando así los flujos de trabajo y liberando tiempo para actividades de mayor valor agregado. {% endblocktranslate %}</li>
                                        </ul>
                                        </div>
                                    </div>
                                  </section>
                              </section>
                        </div><!--/.col-->
                    </div><!--/.row-->
                    
                    <div class="row">
                        <div class="about-vission-content d-flex flex-wrap">
                            <div class="col-md-6 col-sm-12 order-md-1 order-2">
                                <section class="blocks">
                                    <div class="date">
                                      <strong><span>2019</span> - <span>2020</span></strong>
                                    </div>
                                    <div class="decorator">
                                    </div>
                                    <div class="details">
                                      <header>
                                        <h3>Ingeniero - Analista Programador</h3>
                                        <span class="place"><strong>TECHINT Ingeniería y Construcción: </strong></span>
                                        <span class="location"><strong>Mina Los Bronces, Región Metropolitana Chile</strong></span>
                                      </header>
                                      <div>
                                        <ul>
                                          
                                          <li>{% blocktranslate %}Monitorear y Supervisar avances físicos de obra, hacer Informes (diarios y mensuales) sobre el desempeño de estos, principalmente avance obras físicas vs HH y HM consumidas del proyecto, y el informe mensual 'Estado de Pago' que requería de harta documentación firmada como respaldo y las cuentas claras y precisas para su aprobación final, lo cuál se traducia en el pago para la empresa Techint por parte de Anglo American, y la liquídez del proyecto para el pago de todos los trabajadores del proyecto.{% endblocktranslate %}</li>
                                        </ul>
                                      </div>
                                    </div>
                                  </section>
                                  <br>
                                  <section class="blocks">
                                    <div class="date">
                                      <strong><span>2017</span> - <span>2018</span></strong>
                                    </div>
                                    <div class="decorator">
                                    </div>
                                    <div class="details">
                                      <header>
                                        <h3>Emprendimiento - Pyme</h3>
                                        <span class="place"><strong>Clearpix: </strong></span>
                                        <span class="location"><strong>Valparaíso, Quinta Región Chile</strong></span>
                                      </header>
                                      <div>
                                        <ul>
                                          
                                          <li>{% blocktranslate %}Proyecto de implementación de Odoo en una pyme de Valparaíso dedicada a la venta de prendas de vestir personalizadas y otros objetos, optimizando la gestión de inventarios, ventas, compras y contabilidad para mejorar la eficiencia operativa y la productividad.{% endblocktranslate %}</li>
                                        </ul>
                                      </div>
                                    </div>
                                  </section>
                            </div><!--/.col-->
                            <div class="col-md-5 col-sm-12 order-md-2 order-1 offset-md-1">
                                <div class="single-about-history">
                                    <div class="about-history-img">
                                        <img src="{% static 'images/banner/santiago_1400.jpg' %}" alt="about" class="img-fluid" style="width: 760px; height: 540px; object-fit: cover;">

                                    </div><!--/.about-history-img-->
                                </div><!--/.single-about-history-->
                            </div><!--/.col-->
                        </div><!--/.about-vission-content-->
                    </div><!--/.row-->
<!--about-history start-->
<div class="about-history py-5">
    <div class="container">
        <div class="about-history-content">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="single-about-history">
                        <div class="about-history-img">
                            <img src="{% static 'images/about/ab1.jpg' %}" alt="about" class="img-fluid">
                        </div><!--/.about-history-img-->
                    </div><!--/.single-about-history-->
                </div><!--/.col-->

                <div class="col-md-6 offset-md-1 col-sm-12">
                    <div class="single-about-history">
                        <div class="main-block">
                            <h2>
                                <i class="fa fa-graduation-cap"></i> {% translate 'Education' %}
                            </h2>
                            <p>
                                {% translate 'Major educational achievements include obtaining academic degrees and acquiring advanced skills in key areas such as programming, data science, English, and cloud fundamentals.' %}
                            </p>

                            <div class="main-timeline">
                                <div class="row mb-3">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="experience-time">
                                            <h3>2023</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-10 col-sm-10">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                                <ul class="description">
                                                    <li>Microsoft Certified - Azure Fundamentals</li>
                                                </ul>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div><!--/.row-->

                                <div class="row mb-3">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="experience-time">
                                            <h3>2023</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-10 col-sm-10">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                                <ul class="description">
                                                    <li>EY Analytics - Data Science Bronze Badge</li>
                                                </ul>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div><!--/.row-->

                                <div class="row mb-3">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="experience-time">
                                            <h3>2022</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-10 col-sm-10">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                                <ul class="description">
                                                    <li>Eclass - Level B1 English</li>
                                                </ul>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div><!--/.row-->

                                <div class="row mb-3">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="experience-time">
                                            <h3>2021</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-10 col-sm-10">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                                <ul class="description">
                                                    <li>Coding Dojo Bootcamp - Python Full Stack Developer</li>
                                                </ul>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div><!--/.row-->

                                <div class="row mb-3">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="experience-time">
                                            <h3>2019</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-10 col-sm-10">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                                <ul class="description">
                                                    <li>Universidad del Desarrollo - Magister Ingeniería Industrial y Sistemas</li>
                                                </ul>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div><!--/.row-->

                                <div class="row mb-3">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="experience-time">
                                            <h3>2017</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-10 col-sm-10">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                                <ul class="description">
                                                    <li>Universidad Andrés Bello - Ingeniería Civil Industrial</li>
                                                </ul>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div><!--/.row-->
                            </div><!--/.main-timeline-->
                        </div><!--/.about-history-txt-->
                    </div><!--/.single-about-history-->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.about-history-content-->
    </div><!--/.container-->
</div><!--/.about-history-->
<!--about-history end-->

<div class="row py-5">
    <div class="about-vission-content d-flex flex-wrap">
        <div class="col-md-6 col-sm-12 order-md-1 order-0">
            <div class="single-about-history">
                <div class="main-block">
                    <h2><i class="fa fa-university"></i> {% translate "Vision and Mission" %}</h2>
                    <div class="main-timeline xtra-timeline" style="padding-top: -20px;">
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <div class="timeline timeline-ml-20">
                                    <div class="timeline-content">
                                        <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                        <ul class="description">
                                            <li>{% blocktranslate %}Learning and utilizing Machine Learning and Artificial Intelligence is one of my main goals. I strive to master these emerging technologies to develop solutions that transform and improve people's quality of life.{% endblocktranslate %}</li>
                                        </ul>
                                    </div><!--/.timeline-content-->
                                </div><!--/.timeline-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <div class="timeline timeline-ml-20">
                                    <div class="timeline-content">
                                        <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                        <ul class="description">
                                            <li>{% blocktranslate %}Mastering the English language to collaborate effectively on a global level. I constantly work on improving my language skills to communicate and work with professionals from around the world.{% endblocktranslate %}</li>
                                        </ul>
                                    </div><!--/.timeline-content-->
                                </div><!--/.timeline-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <div class="timeline timeline-ml-20">
                                    <div class="timeline-content">
                                        <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                        <ul class="description">
                                            <li>{% blocktranslate %}Meeting and working with people from different places, cultures, and backgrounds who love what they do and contribute to creating a respectful, responsible, and fertile environment enriches experiences and skills.{% endblocktranslate %}</li>
                                        </ul>
                                    </div><!--/.timeline-content-->
                                </div><!--/.timeline-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                    </div><!--.main-timeline-->
                </div><!--/.about-history-txt-->
            </div><!--/.single-about-history-->
        </div><!--/.col-->
        <div class="col-md-5 col-sm-12 order-md-2 order-1 offset-md-1">
            <div class="single-about-history">
                <div class="about-history-img">
                    <img src="{% static 'images/about/ab2.jpg' %}" alt="about" class="img-fluid">
                </div><!--/.about-history-img-->
            </div><!--/.single-about-history-->
        </div><!--/.col-->
    </div><!--/.about-vission-content-->
</div><!--/.row-->

				</div><!--/.about-history-content-->
			</div><!--/.container-->

		</div><!--/.about-history-->
		<!--about-history end-->



<!-- Our Team Creative -->

    <!-- BLOG/LATEST NEWS-->
    <!-- <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title-section"><span class="title-regular">LATEST</span><br/>NEWS</h2>
                    <hr class="title-underline" />
                </div>
            </div>
            <div class="row blog-listing">
                <div class="col-md-4">
                    <article>
                        <img class="img-thumbnail" src="http://placehold.it/690x527" alt="" />
                        <h2>Article 1</h2>
                        <hr class="title-underline">
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet...
                        </p>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> Aug 17, 2016 - 6:53</span>
                            <span><i class="fa fa-user"></i> By <a href="#">John Doe</a> </span>
                            <span><i class="fa fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a> </span>
                            <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                        </div>
                        <a href="blog-single-post.html" class="btn btn-xs btn-primary">Read more...</a>
                    </article>
                </div>
                <div class="col-md-4">
                    <article>
                        <img class="img-thumbnail" src="http://placehold.it/690x527" alt="" />
                        <h2>Article 2</h2>
                        <hr class="title-underline">
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet...
                        </p>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> Aug 17, 2016 - 6:53</span>
                            <span><i class="fa fa-user"></i> By <a href="#">John Doe</a> </span>
                            <span><i class="fa fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a> </span>
                            <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                        </div>
                        <a href="blog-single-post.html" class="btn btn-xs btn-primary">Read more...</a>
                    </article>
                </div>
                <div class="col-md-4">
                    <article>
                        <img class="img-thumbnail" src="http://placehold.it/690x527" alt="" />
                        <h2>Article 3</h2>
                        <hr class="title-underline">
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet...
                        </p>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> Aug 17, 2016 - 6:53</span>
                            <span><i class="fa fa-user"></i> By <a href="#">John Doe</a> </span>
                            <span><i class="fa fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a> </span>
                            <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                        </div>
                        <a href="blog-single-post.html" class="btn btn-xs btn-primary">Read more...</a>
                    </article>
                </div>
            </div>
        </div>
    </section> -->

    <div class="container-fluid py-2">
        <div class="container py-5">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="mb-4">{% translate "Interested in my resume?" %}</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="accordion" id="accordion">
                        <div class="accordion-item wow fadeIn" data-wow-delay="1s">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background: #ff5800; color:white">
                                <i class="fa fa-file-pdf-o" aria-hidden="true" style="padding-right: 10px;"></i>
                                {% translate " Access my resume with a click" %}
                            </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionFAQ1">
                                <div class="accordion-body text-center">
                                    <div class="btn-group" role="group" aria-label="Curriculum Buttons">
                                        <a href="{% url 'download_cv_eng' %}" class="btn btn btn-static" target="_blank" style="background: #242526; color: #ff5800;">Watch and Download Curriculum ENG <i class="fa fa-download" aria-hidden="true" style="padding-left: 10px;"></i></a>
                                        <span style="margin: 0 10px;"></span> <!-- Add a space between buttons -->
                                        <a href="{% url 'download_cv_esp' %}" class="btn btn btn-static" target="_blank" style="background: #242526; color: #ff5800;">Revisa y Descarga Curriculum ESP <i class="fa fa-download" aria-hidden="true" style="padding-left: 10px;"></i></a>
                                    </div>
                                    



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div style="height: 40px;"></div>
    <section class="page-section-no-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 order-md-2 p-0">
                    <img src="{% static 'img/bg_image_1.jpg' %}" alt="">
                </div>
                <div class="col-md-6 order-md-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 contact-container">
                                <h2 class="title-section"><span class="title-regular">{% translate "CONTACT" %}</span><br/>{% translate "ME" %}</h2>
                                <hr class="title-underline" />
                                <p class="lead"><strong>
                                    {% translate "Looking for a committed and motivated collaborator? I'm here to be your ally in the pursuit of exceptional results! Contact me today!" %}</strong>
                                </p>
                                {% if messages %}
                                    <div class="alert alert-info" role="alert">
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <form method="post" action="{% url 'contact' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <select class="form-select" id="language" name="language" required>
                                            <option value="" disabled selected>{% translate "Choose Language" %}</option>
                                            <option value="english">{% translate "English" %}</option>
                                            <option value="spanish">{% translate "Spanish" %}</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="{% translate 'NAME' %}" required>
                                    </div>
                                    <div class="mb-3">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="{% translate 'EMAIL' %}" required>
                                    </div>
                                    <div class="mb-3">
                                        <textarea class="form-control" rows="5" id="message" name="message" placeholder="{% translate 'MESSAGE' %}" required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn" style="background: #ff561e; color:white" onclick="return validateLanguage()">{% translate "SEND" %} <i class="fa fa-envelope"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    






      {%endblock%}

      <script>
        function validateLanguage() {
            var languageSelect = document.getElementById("language");
            if (languageSelect.value === "") {
                alert("Choose Language is needed");
                return false;
            }
            return true;
        }
    </script>