{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{%block content%}



    <title> TITULO {% block title %} {% endblock %}</title>
    
<!-- header-slider-area start -->
<!-- header-slider-area start -->
<section class="header-slider-area">
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
  
      
               
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="single-slide-item slide-1">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="single-slide-item-content">
                    <h2>{% translate "Bienvenido" %}<br> {{ request.user.first_name }} {{ request.user.last_name }}</h2>
                    <p>
                      {% blocktranslate %} We are the unique Consultancy Farm for your business solution, That is ready to take challenge and knockout your business problems. {% endblocktranslate %}
                    </p>
                    
                  </div><!-- /.single-slide-item-content-->
                </div><!-- /.col-->
              </div><!-- /.row-->
            </div><!-- /.container-->
          </div><!-- /.single-slide-item-->
        </div><!-- /.item .active-->
  

  
  </section><!-- /.header-slider-area-->

  <!-- Intro -->
<section class="page-section" id="intro">
    <div class="container intro">
        <div class="row margin-bottom-50">
            <div class="col-md-12 text-center">
                <h1 class="title-section"><span class="title-regular">Elsa is a <strong>multipurpose</strong></span><br/>HTML Template on ThemeForest.</h1>
                <hr class="title-underline-center mx-auto">
                <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    <br/>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <div>
                    <i class="fa fa-desktop"></i>
                    <label><strong>14</strong>
                        <br/>Complete Projects</label>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div>
                    <i class="fa fa-user"></i>
                    <label><strong>2543</strong>
                        <br/>Number Visit</label>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div>
                    <i class="fa fa-code"></i>
                    <label><strong>14489</strong>
                        <br/>English Level</label>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div>
                    <i class="fa fa-trophy"></i>
                    <label><strong>21</strong>
                        <br/>Awards</label>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                </div>
            </div>
        </div>
    </div>

            <div class="container" style="margin-top: 50px;">
                <div class="service-details">
                    <div class="section-header text-center">
                        <h2>{% translate "Technical Knowledge and Skills" %}</h2>
                        <p>
                            {% blocktranslate %} Pallamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. {% endblocktranslate %}
                        </p>
                    </div><!--/.section-header-->
                    <div class="service-content-one">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="service-single text-center">
                                    <div class="service-img">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" />
                                    </div><!--/.service-img-->
                                    <div class="service-txt">
                                        <h2>
                                            <a href="#">Python</a>
                                        </h2>
                                        <p>
                                            {% blocktranslate %} Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat {% endblocktranslate %}
                                        </p>
                                        <a href="#" class="service-btn">
                                            {% translate "learn more" %}
                                        </a>
                                    </div><!--/.service-txt-->
                                </div><!--/.service-single-->
                            </div><!--/.col-->
                            <div class="col-sm-4 col-xs-12">
                                <div class="service-single text-center">
                                    <div class="service-img">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg" />
                                    </div><!--/.service-img-->
                                    <div class="service-txt">
                                        <h2>
                                            <a href="#">PostgreSQL</a>
                                        </h2>
                                        <p>
                                            {% blocktranslate %} Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat {% endblocktranslate %}
                                        </p>
                                        <a href="#" class="service-btn">
                                            {% translate "learn more" %}
                                        </a>
                                    </div><!--/.service-txt-->
                                </div><!--/.service-single-->
                            </div><!--/.col-->
                            <div class="col-sm-4 col-xs-12">
                                <div class="service-single text-center">
                                    <div class="service-img">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain-wordmark.svg" />
                                    </div><!--/.service-img-->
                                    <div class="service-txt">
                                        <h2>
                                            <a href="#">Django Framework</a>
                                        </h2>
                                        <p>
                                            {% blocktranslate %} Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat {% endblocktranslate %}
                                        </p>
                                        <a href="#" class="service-btn">
                                            {% translate "learn more" %}
                                        </a>
                                    </div><!--/.service-txt-->
                                </div><!--/.service-single-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                    </div><!--/.service-content-one-->
                    <div class="service-content-two">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="service-single text-center">
                                    <div class="service-img">
                                    
                                        
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pandas/pandas-original-wordmark.svg" />
                                    </div><!--/.service-img-->
                                    <div class="service-txt">
                                        <h2>
                                            <a href="#">{% translate "Pandas" %}</a>
                                        </h2>
                                        <p>
                                            {% blocktranslate %} Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat {% endblocktranslate %}
                                        </p>
                                        <a href="#" class="service-btn">
                                            {% translate "learn more" %}
                                        </a>
                                    </div><!--/.service-txt-->
                                </div><!--/.service-single-->
                            </div><!--/.col-->

                            <div class="col-sm-4 col-xs-12">
                                <div class="service-single text-center">
                                    <div class="service-img">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/archlinux/archlinux-original.svg" />
                                    </div><!--/.service-img-->
                                    <div class="service-txt">
                                        <h2>
                                            <a href="#">{% translate "Arch Linux" %}</a>
                                        </h2>
                                        <p>
                                            {% blocktranslate %}  Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat {% endblocktranslate %}
                                        </p>
                                        <a href="#" class="service-btn">
                                            {% translate "learn more" %}
                                        </a>
                                    </div><!--/.service-txt-->
                                </div><!--/.service-single-->
                            </div><!--/.col-->
                            <div class="col-sm-4 col-xs-12">
                                <div class="service-single text-center">
                                    <div class="service-img">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" />
                                    </div><!--/.service-img-->
                                    <div class="service-txt">
                                        <h2>
                                            <a href="#">{% translate "Git" %}</a>
                                        </h2>
                                        <p>
                                            {% blocktranslate %} Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat {% endblocktranslate %}
                                        </p>
                                        <a href="#" class="service-btn">
                                            {% translate "learn more" %}
                                        </a>
                                    </div><!--/.service-txt-->
                                </div><!--/.service-single-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                    </div><!--/.service-content-two-->

                </div><!--/.service-details-->
            </div><!--/.container-->
            <div class="text-center" style="margin-top: 70px;">
                <button type="button" class="btn" style="background: #ff561e; color:white"><strong>VIEW MORE </strong><i class="fa fa-arrow-right"></i></button>
            </div>

    </section><!--/.service-->
    <!--service end-->



<!-- Portfolio / Projects -->
<section class="page-section-no-padding">
    
    <!-- /3 Column Portfolio -->
    
    <div class="container">
        <div class="filter-section">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h1>Projects Portfolio</h1>
                    <div class="filter-container isotopeFilters">
                        <ul class="list-inline filter d-flex justify-content-center align-items-center">
                            <li class="active"><a href="#" data-filter="*">All</a><span>/</span></li>
                            <li><a href="#" data-filter=".Process_Automation">Process Automation</a><span>/</span></li>
                            <li><a href="#" data-filter=".Engineering">Engineering</a><span>/</span></li>
                            <li><a href="#" data-filter=".websites">Websites</a><span>/</span></li>
                            <li><a href="#" data-filter=".software_development">Software Development</a><span>/</span></li>
                            <li><a href="#" data-filter=".machine_learning">Machine Learning</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolio-section port-col d-flex flex-wrap justify-content-center">                
            <div class="col-md-4 col-sm-6 isotopeSelector Engineering software_development websites">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-9.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">                            
                            <div class="row margin-0 project-content">
                                <div class="col-md-12 info-head text-center">
                                    <h3>Portfolio Website</h3>                       
                                </div>
                                <div class="col-md-12 info">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...</p>
                                    <a title="Project Link" href="{% url 'projects_describe' id=9 %}">
                                        <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Engineering">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-4.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>Cloud Strategy</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...</p>
                                        <p>

                                            <a title="Project Link" href="{% url 'projects_describe' id=8 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Engineering software_development websites">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-5.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>Financial Tool International Bank</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...</p>
                                        <p>
                                            <a title="Project Link" href="{% url 'projects_describe' id=7 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Engineering software_development">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-3.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>ETL SQL BICE & FACTSET</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...</p>
                                        <p>
                                            <a title="Project Link" href="{% url 'projects_describe' id=6 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Process_Automation software_development">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-2.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>Automatización Hipotecario Garantía</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...</p>
                                        <p>
                                            <a title="Project Link" href="{% url 'projects_describe' id=5 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Process_Automation software_development">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-6.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>Automatización Linea Seguro</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...</p>
                                        <p>
                                            <a title="Project Link" href="{% url 'projects_describe' id=4 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>


        </div>
                <!-- END Columns Portfolio -->
    <div class="text-center" style="margin-top: 25px;">
        <button type="button" class="btn" style="background: #ff561e; color:white"><strong>VIEW MORE </strong><i class="fa fa-arrow-right"></i></button>
    </div>
        
    </div>

</section>



<div style="height: 40px;"></div>
<section id="about">
    <div class="container">
        <div class="row" style="padding-top: 40px; padding-bottom: 40px; position: relative;">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align" style="padding-bottom: 20px;">
                <div class="section-heading">
                    <h1>About <span>Me</span></h1>
                    <p class="subheading"><strong>“Continuous learning and self-improvement are the keys to personal and professional success. I strive to embody these principles in everything I do.”</strong></p>
                </div>
                <ul class="aboutul" style="padding-bottom: 20px;">
                    <li> <i class="fa fa-check"></i> I am a professional living in Santiago, Chile, with a background in Civil Industrial Engineering and a postgraduate degree in the same field.</li>
                    <br>
                    <li> <i class="fa fa-check"></i> I have a passion for continuous learning and personal growth, demonstrated through my academic and professional achievements.</li>
                    <br>
                    <li> <i class="fa fa-check"></i> My professional journey is driven by my love for programming, particularly in Python and PostgreSQL, as I constantly seek to expand my skills and knowledge.</li>
                    <br>
                    <li> <i class="fa fa-check"></i> I am enthusiastic about exploring new technologies such as Machine Learning and Artificial Intelligence, which I believe will play a crucial role in the future of various industries.</li>
                    <br>
                    <li> <i class="fa fa-check"></i> I am proficient in English at a B2 level, enabling me to access a wide range of resources and communicate effectively on a global scale.</li>
                    <br>
                    <li> <i class="fa fa-check"></i> One of my greatest passions is playing the guitar, providing a creative outlet that balances my analytical and technical pursuits.</li>
                    <br>
                    <li> <i class="fa fa-check"></i> I have a profound love for nature and enjoy hiking, which offers a perfect escape from the daily hustle and bustle, keeping me physically active and inspired.</li>
                    <br>
                    <li> <i class="fa fa-check"></i> I consider myself a happy and motivated individual, driven by a desire to keep learning and achieving, always looking for ways to enhance my skills and contribute meaningfully to projects.</li>
                </ul>
                <button type="button" class="btn" style="background: #ff561e; color:white"><strong>VIEW MORE </strong><i class="fa fa-arrow-right"></i></button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5" style="position: absolute; top: 100px; right: 0;">
                <img height="" width="auto" src="{% static 'img/me_home_valpo.jpg' %}" class="attachment-full img-responsive" alt="">
            </div>
        </div>
    </div>
</section>




    		<!--about-history start-->
		<div class="about-history">
			<div class="container">
				<div class="about-history-content">

                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <div class="single-about-history">
                                <div class="about-history-img">
                                    <img src="{% static 'images/banner/santiago.jpg' %}" alt="about" class="img-fluid">
                                </div><!--/.about-history-img-->
                            </div><!--/.single-about-history-->
                        </div><!--/.col-->
                    
                        <div class="offset-md-1 col-md-6 col-sm-12">
                            <section class="main-block">
                                <h2>
                                  <i class="fa fa-suitcase"></i> experiencia
                                </h2>
                                <section class="blocks">
                                  <div class="date">
                                    <strong><span>2023</span> - <span>2024</span></strong>
                                  </div>
                                  <div class="decorator">
                                  </div>
                                  <div class="details">
                                    <header>
                                      <h3>Data Engineer</h3>
                                      <span class="place"><strong>EY Chile - Latino América</strong></span>
                                      <span class="location"><strong>(remoto/presencial) - Santiago, Chile</strong></span>
                                    </header>
                                    <div>
                                      <ul>
                                        <li>Como Ingeniero de Datos aporte con los diseños, construcción y mantención de infraestructura de datos, asegurando su organización y accesibilidad. Me encargé de la extracción, transformación y carga (ETL) de datos, integrando diversas fuentes y garantizando su calidad y la optimización de consultas a bases de datos para mejorar el rendimiento. Además colaboré con el desarrollo y gestión de pipelines de datos para facilitar el flujo continuo de información.</li>
                                      </ul>
                                      </div>
                                  </div>
                                </section>
                                <br>
                                <section class="blocks">
                                    <div class="date">
                                      <strong><span>2021</span> - <span>2022</span></strong>
                                    </div>
                                    <div class="decorator">
                                    </div>
                                    <div class="details">
                                      <header>
                                        <h3>RPA Developer</h3>
                                        <span class="place"><strong>EY Chile - Latino América</strong></span>
                                        <span class="location"><strong>(remoto/presencial) - Santiago, Chile</strong></span>
                                      </header>
                                      <div>
                                        <ul>
                                          <li>Evaluar, diseñar, proponer y crear soluciones a trabajos altamente repetitivos, voluminosos, predecibles y no obstante necesarios para el correcto funcionamiento del negocio, mediante la programación RPA. Implementa y gestiona la automatización de procesos utilizando herramientas de Robotic Process Automation (RPA) para mejorar la eficiencia y reducir errores. Desarrolla scripts y bots que automatizan tareas rutinarias, asegurando que los procesos sean ejecutados de manera consistente y precisa. Colabora con equipos de diferentes departamentos para identificar oportunidades de automatización, optimizando así los flujos de trabajo y liberando tiempo para actividades de mayor valor agregado. </li>
                                        </ul>
                                        </div>
                                    </div>
                                  </section>
                              </section>
                        </div><!--/.col-->
                    </div><!--/.row-->
                    
                    <div class="row">
                        <div class="about-vission-content d-flex flex-wrap">
                            <div class="col-md-6 col-sm-12 order-md-1 order-2">
                                <section class="blocks">
                                    <div class="date">
                                      <strong><span>2019</span> - <span>2020</span></strong>
                                    </div>
                                    <div class="decorator">
                                    </div>
                                    <div class="details">
                                      <header>
                                        <h3>Ingeniero - Analista Programador</h3>
                                        <span class="place"><strong>TECHINT Ingeniería y Construcción: </strong></span>
                                        <span class="location"><strong>Mina Los Bronces, Región Metropolitana Chile</strong></span>
                                      </header>
                                      <div>
                                        <ul>
                                          
                                          <li>Monitorear y Supervisar avances físicos de obra, hacer Informes (diarios y mensuales) sobre el desempeño de estos, principalmente avance obras físicas vs HH y HM consumidas del proyecto, y el informe mensual 'Estado de Pago' que requería de harta documentación firmada como respaldo y las cuentas claras y precisas para su aprobación final, lo cuál se traducia en el pago para la empresa Techint por parte de Anglo American, y la liquídez del proyecto para el pago de todos los trabajadores del proyecto.</li>
                                        </ul>
                                      </div>
                                    </div>
                                  </section>
                                  <br>
                                  <section class="blocks">
                                    <div class="date">
                                      <strong><span>2017</span> - <span>2018</span></strong>
                                    </div>
                                    <div class="decorator">
                                    </div>
                                    <div class="details">
                                      <header>
                                        <h3>Emprendimiento - Pyme</h3>
                                        <span class="place"><strong>Cleapix: </strong></span>
                                        <span class="location"><strong>Valparaíso, Quinta Región Chile</strong></span>
                                      </header>
                                      <div>
                                        <ul>
                                          
                                          <li>Proyecto de implementación de Odoo en una pyme de Valparaíso dedicada a la venta de prendas de vestir personalizadas y otros objetos, optimizando la gestión de inventarios, ventas, compras y contabilidad para mejorar la eficiencia operativa y la productividad.</li>
                                        </ul>
                                      </div>
                                    </div>
                                  </section>
                            </div><!--/.col-->
                            <div class="col-md-5 col-sm-12 order-md-2 order-1 offset-md-1">
                                <div class="single-about-history">
                                    <div class="about-history-img">
                                        <img src="{% static 'images/banner/santiago_1400.jpg' %}" alt="about" class="img-fluid" style="width: 760px; height: 540px; object-fit: cover;">

                                    </div><!--/.about-history-img-->
                                </div><!--/.single-about-history-->
                            </div><!--/.col-->
                        </div><!--/.about-vission-content-->
                    </div><!--/.row-->
<!--about-history start-->
<div class="about-history">
    <div class="container">
        <div class="about-history-content">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="single-about-history">
                        <div class="about-history-img">
                            <img src="assets/images/about/ab1.jpg" alt="about" class="img-fluid">
                        </div><!--/.about-history-img-->
                    </div><!--/.single-about-history-->
                </div><!--/.col-->

                <div class="col-md-6 offset-md-1 col-sm-12">
                    <div class="single-about-history">
                        <div class="main-block">
                            <h2>
                                <i class="fa fa-graduation-cap"></i> {% translate 'Education' %}
                              </h2>
                            <p>
                                {% translate 'Major educational achievements include obtaining academic degrees and acquiring advanced skills in key areas such as programming, data science, English, and cloud fundamentals.' %}
                            </p>

                            <div class="main-timeline">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="experience-time">
                                            <h3>2023</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-10 col-sm-10">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                                <ul class="description">
                                                    <li>Microsoft Certified - Azure Fundamentals</li>
                                                </ul>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div><!--/.row-->

                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="experience-time">
                                            <h3>2023</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-10 col-sm-10">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                                <ul class="description">
                                                    <li>EY Analytics - Data Science Bronze Badge</li>
                                                </ul>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div><!--/.row-->

                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="experience-time">
                                            <h3>2022</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-10 col-sm-10">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                                <ul class="description">
                                                    <li>Eclass - Level B1 English</li>
                                                </ul>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div><!--/.row-->

                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="experience-time">
                                            <h3>2021</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-10 col-sm-10">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                                <ul class="description">
                                                    <li>Coding Dojo Bootcamp - Python Full Stack Developer</li>
                                                </ul>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div><!--/.row-->

                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="experience-time">
                                            <h3>2019</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-10 col-sm-10">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                                <ul class="description">
                                                    <li>Universidad del Desarrollo - Magister Ingeniería Industrial y Sistemas</li>
                                                </ul>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div><!--/.row-->

                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="experience-time">
                                            <h3>2017</h3>
                                        </div><!--/.experience-time-->
                                    </div><!--/.col-->
                                    <div class="col-md-10 col-sm-10">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                                <ul class="description">
                                                    <li>Universidad Andrés Bello - Ingeniería Civil Industrial</li>
                                                </ul>
                                            </div><!--/.timeline-content-->
                                        </div><!--/.timeline-->
                                    </div><!--/.col-->
                                </div><!--/.row-->
                            </div><!--/.main-timeline-->
                        </div><!--/.about-history-txt-->
                    </div><!--/.single-about-history-->
                </div><!--/.col-->
            </div><!--/.row-->
            

        </div><!--/.about-history-content-->
    </div><!--/.container-->
</div><!--/.about-history-->
<!--about-history end-->

                    
<div class="row">
    <div class="about-vission-content d-flex flex-wrap">
        <div class="col-md-6 col-sm-12 order-md-1 order-0">
            <div class="single-about-history">
                <div class="main-block">
                    <h2><i class="fa fa-university"></i>{% translate " vision and mission" %}</h2>
                    <!-- <p>
                        {% blocktranslate %}Mis motivaciones para mejorar constantemente se basan en los siguientes tres pilares:{% endblocktranslate %}
                    </p> -->
                    <div class="main-timeline xtra-timeline" style="padding-top: -20px;">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="timeline timeline-ml-20">
                                    <div class="timeline-content">
                                        <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                        <ul class="description">
                                            <li>{% blocktranslate %}Aprender y utilizar Machine Learning y la Inteligencia Artificial es uno de mis principales objetivos. Me esfuerzo por dominar estas tecnologías emergentespara desarrollar soluciones que transformen y mejoren la calidad de vida de las personas.{% endblocktranslate %}</li>
                                        </ul>
                                    </div><!--/.timeline-content-->
                                </div><!--/.timeline-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="timeline timeline-ml-20">
                                    <div class="timeline-content">
                                        <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                        <ul class="description">
                                            <li>{% blocktranslate %}Dominar el idioma inglés para colaborar eficazmente a nivel global. Trabajo constantemente en mejorar mis habilidades lingüísticas para comunicarme y trabajar junto a profesionales de todo el mundo.{% endblocktranslate %}</li>
                                        </ul>
                                    </div><!--/.timeline-content-->
                                </div><!--/.timeline-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="timeline timeline-ml-20">
                                    <div class="timeline-content">
                                        <h4 class="title"><span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
                                        <ul class="description">
                                            <li>{% blocktranslate %}Conocer y trabajar junto a equipos de personas de diferentes lugares, culturas y conocimientos es fundamental para enriquecer mis experiencias y habilidades. Valoro la diversidad y busco siempre colaborar en un ambiente inclusivo.{% endblocktranslate %}</li>
                                        </ul>
                                    </div><!--/.timeline-content-->
                                </div><!--/.timeline-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                    </div><!--.main-timeline-->
                </div><!--/.about-history-txt-->
            </div><!--/.single-about-history-->
        </div><!--/.col-->
        <div class="col-md-5 col-sm-12 order-md-2 order-1 offset-md-1">
            <div class="single-about-history">
                <div class="about-history-img">
                    <img src="{% static 'images/about/ab2.jpg' %}" alt="about" class="img-fluid">
                </div><!--/.about-history-img-->
            </div><!--/.single-about-history-->
        </div><!--/.col-->
    </div><!--/.about-vission-content-->
</div><!--/.row-->


				</div><!--/.about-history-content-->
			</div><!--/.container-->

		</div><!--/.about-history-->
		<!--about-history end-->



<!-- Our Team Creative -->

    <!-- BLOG/LATEST NEWS-->
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title-section"><span class="title-regular">LATEST</span><br/>NEWS</h2>
                    <hr class="title-underline" />
                </div>
            </div>
            <div class="row blog-listing">
                <div class="col-md-4">
                    <article>
                        <img class="img-thumbnail" src="http://placehold.it/690x527" alt="" />
                        <h2>Article 1</h2>
                        <hr class="title-underline">
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet...
                        </p>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> Aug 17, 2016 - 6:53</span>
                            <span><i class="fa fa-user"></i> By <a href="#">John Doe</a> </span>
                            <span><i class="fa fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a> </span>
                            <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                        </div>
                        <a href="blog-single-post.html" class="btn btn-xs btn-primary">Read more...</a>
                    </article>
                </div>
                <div class="col-md-4">
                    <article>
                        <img class="img-thumbnail" src="http://placehold.it/690x527" alt="" />
                        <h2>Article 2</h2>
                        <hr class="title-underline">
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet...
                        </p>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> Aug 17, 2016 - 6:53</span>
                            <span><i class="fa fa-user"></i> By <a href="#">John Doe</a> </span>
                            <span><i class="fa fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a> </span>
                            <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                        </div>
                        <a href="blog-single-post.html" class="btn btn-xs btn-primary">Read more...</a>
                    </article>
                </div>
                <div class="col-md-4">
                    <article>
                        <img class="img-thumbnail" src="http://placehold.it/690x527" alt="" />
                        <h2>Article 3</h2>
                        <hr class="title-underline">
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet...
                        </p>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> Aug 17, 2016 - 6:53</span>
                            <span><i class="fa fa-user"></i> By <a href="#">John Doe</a> </span>
                            <span><i class="fa fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a> </span>
                            <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                        </div>
                        <a href="blog-single-post.html" class="btn btn-xs btn-primary">Read more...</a>
                    </article>
                </div>
            </div>
        </div>
    </section>




<!-- Contact Me -->
<section class="page-section-no-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 order-md-2 p-0">
                <div id="map" class="img-fluid map-style"></div>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 contact-container">
                            <h2 class="title-section"><span class="title-regular">CONTACT</span><br/>ME</h2>
                            <hr class="title-underline" />
                            <p>
                                Maecenas luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
                            </p>
                            {% if messages %}
                                <div class="alert alert-info" role="alert">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <form method="post" action="{% url 'contact' %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="usr" name="name" placeholder="NAME" required>
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="EMAIL" required>
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control" rows="5" id="message" name="message" placeholder="MESSAGE" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">SEND <i class="fa fa-envelope"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




      {%endblock%}

