annotated-types
anyio
arabic-reshaper
asgiref
asn1crypto
beautifulsoup4
blinker
bootstrap4
Brotli
cachelib
cairocffi
CairoSVG
certifi
cffi
channels
chardet
charset-normalizer
click
contourpy
cryptography
cssselect2
cycler
dash
dash-bootstrap-components
dash-core-components
dash-extensions
dash-html-components
dash-table
dash_renderer
dataclass-wizard
defusedxml
distro
dj-database-url
Django
django-bootstrap-icons
django-classy-tags
django-cms
django-entangled
django-environ
django-filer
django-formtools
django-fsm
django-guest-user
django-livereload
django-parler
django-plotly-dash
django-polymorphic
django-sekizai
django-treebeard
django-widget-tweaks
djangocms-admin-style
djangocms-alias
djangocms-attributes-field
djangocms-frontend
djangocms-text-ckeditor
djangocms-versioning
dpd-static-support
dpd_components
easy-thumbnails
EditorConfig
filelock
Flask
Flask-Caching
Flask-Compress
fonttools
fsspec
git-filter-repo
gTTS
gunicorn
h11
html5lib
httpcore
httpx
huggingface-hub
idna
importlib_metadata
itsdangerous
Jinja2
joblib
jsbeautifier
kaleido
kiwisolver
lxml
MarkupSafe
matplotlib
more-itertools
mpmath
nest-asyncio
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
oscrypto
packaging
pandas
pdfkit
pillow
plotly
psycopg2-binary
pycparser
pydantic
pydantic_core
pydyf
pyHanko
pyhanko-certvalidator
pyparsing
pypdf==0.1.0
PyPDF2
pyphen
pypng
python-bidi
python-dateutil
python-dotenv
pytz
PyYAML
qrcode
regex
reportlab
requests
retrying
ruff
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
sniffio
soupsieve
sqlparse
svglib
sympy
tenacity
threadpoolctl
tinycss2
tokenizers
torch
tqdm
transformers
triton
typing_extensions
tzdata
tzlocal
uritools
urllib3
validate_email
WeasyPrint
webencoding
Werkzeu
whitenois
xhtml2pd
zip
zopfl
zstandar
