{% extends 'welcome.html' %} 
{% load i18n %}
{% load static%} {%block title%} | Login to Account

{%endblock%} 

{%block content%}
<style>
  h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
</style>
<!-- header-slider-area start -->
<section class="header-slider-area">
  <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
    {% csrf_token%}
    
    {% include 'partials/_alerts.html'%}


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="padding-top: 30px;">
      <div class="item active">
        <div class="single-slide-item slide-1">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="single-slide-item-content">
                  <h2>{% translate "Hi!" %}</h2> <br> <h2>{% translate "I'm Jaime Campillay" %}</h2> <br> <h2 class="cover-heading" id="typewriter"></h2>
                  <p style="-webkit-text-stroke: 0.1px black; color:whitesmoke;">
                    {% blocktranslate %} Fostering Innovation in Technology and Unlocking Potential Through Teamwork are some of my main life goals. {% endblocktranslate %} 
                  </p>
                  <a href="guest_login"><button type="button" class="slide-btn">
                    {% translate "Guest User" %}
                    </button></a>
                    <a href="/authentication/login"><button type="button"  class="slide-btn">
                      {% translate "Authenticated User" %}
                    </button></a>
                  
                </div><!-- /.single-slide-item-content-->
              </div><!-- /.col-->
            </div><!-- /.row-->
          </div><!-- /.container-->
        </div><!-- /.single-slide-item-->
      </div><!-- /.item .active-->


</section><!-- /.header-slider-area-->
<!-- header-slider-area end -->




{%endblock%}
