{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{%block content%}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <style>
          h2 {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
        .filter-section {
            margin-top: 20px;
        }
        .filter-container ul {
            padding: 0;
            list-style: none;
        }
        .filter-container li {
            display: inline-block;
            margin-right: 10px;
            white-space: nowrap;
            text-align: center;
        }
        .filter-container li a {
            display: block;
            padding: 5px 10px;
            font-size: 14px;
            color: #000;
            text-decoration: none;
            border: 1px solid transparent;
            transition: all 0.3s;
        }
        .filter-container li span {
            display: none;
        }
        @media (max-width: 768px) {
            .filter-container li {
                width: 100%;
            }
            .filter-container li span {
                display: inline;
            }
        }
        @media (max-width: 480px) {
            .filter-container li {
                white-space: normal;
            }
        }
    </style>
</head>


<html lang="en">

    <title> TITULO {% block title %} {% endblock %}</title>

<section class="page-section" id="intro">
    <div class="container intro">
        <div class="row margin-bottom-50">
            <div class="col-md-12 text-center">
                <h1 class="title-section"><span class="title-regular">Get to <strong>Know</strong></span><br/>All My Projects</h1>
                <hr class="title-underline-center mx-auto">
                <strong><p class="lead">
                    Explore my portfolio of projects,<br/>
                    where each initiative represents a milestone in my professional journey.
                </p></strong>
                
            </div>
        </div>
        <div style="height: 40px;"></div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <div>
                    <i class="fa fa-desktop"></i>
                    <label><strong>0</strong>
                        <br/>Machine Learning</label>
                    <p>{% translate "Technology Projects" %}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div>
                    <i class="fa fa-user"></i>
                    <label><strong>7</strong>
                        <br/>Software Development</label>
                    <p>{% translate "Technology Projects" %}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div>
                    <i class="fa fa-code"></i>
                    <label><strong>3</strong>
                        <br/>Process Automation</label>
                    <p>{% translate "Technology Projects" %}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div>
                    <i class="fa fa-trophy"></i>
                    <label><strong>5</strong>
                        <br/>Engineering</label>
                    <p>{% translate "Technology Projects" %}</p>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 40px;"></div>

<!-- Portfolio / Projects -->
<section class="page-section-no-padding">
    
    <!-- /3 Column Portfolio -->
    
    <div class="container">
        <div class="filter-section">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h1>{% translate "Projects Portfolio" %}</h1>
                    <div class="filter-container isotopeFilters">
                        <ul class="list-inline filter d-flex justify-content-center align-items-center flex-wrap">
                            <li class="active"><a href="#" data-filter="*">{% translate "All" %}</a></li>
                            <li><a href="#" data-filter=".Process_Automation">{% translate "Process Automation" %}</a></li>
                            <li><a href="#" data-filter=".Engineering">{% translate "Engineering" %}</a></li>
                            <li><a href="#" data-filter=".websites">{% translate "Websites" %}</a></li>
                            <li><a href="#" data-filter=".software_development">{% translate "Software Development" %}</a></li>
                            <li><a href="#" data-filter=".machine_learning">{% translate "Machine Learning" %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolio-section port-col d-flex flex-wrap justify-content-center">                
            <div class="col-md-4 col-sm-6 isotopeSelector Engineering software_development websites">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-9.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">                            
                            <div class="row margin-0 project-content">
                                <div class="col-md-12 info-head text-center">
                                    <h3>Portfolio Website</h3>                       
                                </div>
                                <div class="col-md-12 info">
                                    <p>Python, Django, Dash Plotly, JavaScript, HTML5, CSS3, Bootstrap 5, jQuery, PostgreSQL, AWS EC2, AWS S3, AWS DRS, Git, Json, Vim, Linux</p>
                                    <a title="Project Link" href="{% url 'projects_describe' id=9 %}">
                                        <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Engineering">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-4.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>Cloud Strategy</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>Python, Power Point, Excel, PDF</p>
                                        <p>

                                            <a title="Project Link" href="{% url 'projects_describe' id=8 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Engineering software_development websites">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-5.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>Financial Tool International Bank</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>Python, PostgreSQL, Dash & Plotly, Pandas, Scipy</p>
                                        <p>
                                            <a title="Project Link" href="{% url 'projects_describe' id=7 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Engineering software_development">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-3.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>ETL SQL BICE & FACTSET</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p> SQL Server, Talend, Python, Excel, Factset Cloud, Putty</p>
                                        <p>
                                            <a title="Project Link" href="{% url 'projects_describe' id=6 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Process_Automation software_development">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-2.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>Automatización Hipotecario Garantía</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>UiPath Reframework, SQL, .Net, Git, Jira Browser Edge, PDF Json File</p>
                                        <p>
                                            <a title="Project Link" href="{% url 'projects_describe' id=5 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Process_Automation software_development">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-6.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>Automatización Linea Seguro</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>UiPath Reframework, Postman, Servicios API, Python, .Net, Git, Jira, Json File</p>
                                        <p>
                                            <a title="Project Link" href="{% url 'projects_describe' id=4 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 isotopeSelector software_development Process_Automation">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-7.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>Telemarketing Automation</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>UiPath Reframework, SQL, .Net, Git, Jira, Excel</p>
                                        <p>
                                            <a title="Project Link" href="{% url 'projects_describe' id=3 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-4 col-sm-6 isotopeSelector Engineering software_development">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-1.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>ReportWorks MobileApp</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>Google Apps Script, Servicio API, AppInventor (MIT), Google SpreadSheet</p>
                                        <p>
                                            <a title="Project Link" href="{% url 'projects_describe' id=2 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 isotopeSelector websites">
                <article class="">
                    <figure>
                        <img src="{% static 'images/project/banner-slide-8.jpg' %}" alt="">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <div class="inner-overlay">
                                <div class="row margin-0 project-content">
                                    <div class="col-md-12 info-head text-center">
                                        <h3>Implementation & Manage Odoo</h3>
                                    </div>
                                    <div class="col-md-12 info">
                                        <p>Odoo ERP, Python, Excel</p>
                                        <p>
                                            <a title="Project Link" href="{% url 'projects_describe' id=1 %}">
                                                <i class="fa fa-arrow-right fa-border fa-2x"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>

        </div>
            
        
    </div>
    <!-- END Columns Portfolio -->

</section>

<div style="height: 100px;"></div>





      {%endblock%}

