{% extends 'base.html' %}
{% load plotly_dash %}
{% load static %}

{% block content %}
    <title>TITULO {% block title %}{% endblock %}</title>
    <body>
        <div style="height: 20px;"></div>
        
            <body>
                
                <div class="{% plotly_class name='EnglishQuizApp' %}" >
                    {% if screen_width > 800 %}
                        {% plotly_app name='EnglishQuizApp' ratio=1.45 %}
                    {% else %}
                        {% plotly_app name='EnglishQuizApp' ratio=1.45 %}
                    {% endif %}
                </div>
            </body>
            <section class="position-relative py-4">
            </section>

    </body>
{% endblock %}
