{% extends 'welcome.html' %} 
{% load i18n %}
{% load static %}
{% block title %} | Login to Account {% endblock %}

{% block content %}
<style>
  .center-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-user {
    font-size: 5em;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .fixed-width {
    width: 100%;
    max-width: 500px;
  }
  .or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 15px 0;
  }
  .or-divider .line {
    flex: 1;
    height: 1px;
    background-color: #d3d3d3;
  }
  .or-divider .text {
    padding: 0 10px;
    font-size: small;
    color: #6c757d;
  }

  @media (max-width: 970px) {
    .fixed-width {
      width: 90%;
      padding: 0 15px;
    }
    .icon-user {
      font-size: 4em;
      padding-top: 0px;
    }
    .or-divider .text {
      font-size: smaller;
    }
  }
</style>

<div class="single-slide-item slide-1">
  <div class="container">
    <div class="center-card">
      <div class="card fixed-width">
        <div class="card-body">
          <i class="fa-solid fa-user-lock icon-user"></i>
          <p class="text-center" style="color: black; font-size:small;"><b>{% translate "Trouble Logging In?" %}</b></p>
          <small class="text-muted text-center">{% translate "Please enter your new preferred password" %}</small>
          <form class="mt-2" autocomplete="off" method="post" action="/authentication/set-new-password/{{ uidb64 }}/{{ token }}">
            {% csrf_token %}
            {% include 'partials/_alerts.html' %}
            <div class="form-group">
              <input type="password" class="form-control form-control-sm" placeholder="{% translate 'Password' %}" name="password" style="font-size:small;">
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-sm" placeholder="{% translate 'Confirm Password' %}" name="password2" style="font-size:small;">
            </div>
            <input type="submit" class="btn btn-primary btn-block btn-sm" value="{% translate 'Send Link' %}" style="font-size:small;">
            <div class="or-divider">
              <div class="line"></div>
              <div class="text">{% translate "OR" %}</div>
              <div class="line"></div>
            </div>
            <a href="{% url 'register' %}" class="btn btn-block btn-sm" style="font-size:small;">{% translate "Create New Account" %}</a>
            <a href="{% url 'login' %}" class="btn btn-block btn-sm" style="font-size:small;">{% translate "Back to Login" %}</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
